@{
    Layout = null;
    <html>
   <head>
   <title>DUPA</title>
   </head>
   
   <body>
   <form asp-action="Oblicz" asp-controller="Bryly" method="get">
            Walec<input type="radio" name="bryla" value="walec" checked="checked"><br />
            Stozek<input type="radio" name="bryla" value="stozek"><br />
            x2Stozek<input type="radio" name="bryla" value="x2stozek"><br />

            <select name="operacje">
                <option value="pole">Pole</option>
                <option value="objetosc">Objetosc</option>
            </select>
    Wysokosc<input type="text" name="wys"></input><br>
    Promien<input type="text" name="szer"></input>
    <input type="submit" value="Oblicz"></input>
    <br>
      
   </form>
   @if(ViewBag.przechowalnia != null){
       <span>
       @ViewBag.przechowalnia
       </span>
   }
   </body>
   
   
   </html>
}

