$najasno:true;


@mixin motyw($najasno) {
    @if $najasno {
        background-color: darkblue;
        color: black;
    }

    else {
        background-color: white;
        color: green;
    }
}


BODY {
    text-align: left;
    background-repeat: repeat-y;
    background-image: url('../Strony/Grafika/Skoroszyt.png');
    margin-left: 300px;
    @include motyw($najasno);
}

a:link, a:visited, a:active {
    text-decoration: none;
    color: black
}

a:hover {
    text-decoration: underline;
    color: orange;
}

input[type=text] {
    background-color: grey
}

input::after:enabled {
    color: yellow
}

.klasa1 {
    margin-left: 5px;
    width: 200px;
    position: relative
}

.klasa2 {
    margin-left: 100px;
    width: 200px;
    position: relative
}
